<a href="https://colab.research.google.com/github/thoov3r98/DataQualityHPPredictions/blob/main/ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_percentage_error
import math as mt
from xgboost import XGBClassifier
from xgboost import XGBRegressor
import xgboost as xgb
import flaml as fl
from flaml.model import XGBoostSklearnEstimator
from flaml import AutoML
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score

In [ ]:
pip install flaml

Requirement already satisfied: flaml in /usr/local/lib/python3.7/dist-packages (1.0.1)
Requirement already satisfied: NumPy>=1.16.2 in /usr/local/lib/python3.7/dist-packages (from flaml) (1.21.6)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from flaml) (1.4.1)
Requirement already satisfied: pandas>=1.1.4 in /usr/local/lib/python3.7/dist-packages (from flaml) (1.3.5)
Requirement already satisfied: lightgbm>=2.3.1 in /usr/local/lib/python3.7/dist-packages (from flaml) (3.3.2)
Requirement already satisfied: xgboost<=1.3.3,>=0.90 in /usr/local/lib/python3.7/dist-packages (from flaml) (0.90)
Requirement already satisfied: scikit-learn>=0.24 in /usr/local/lib/python3.7/dist-packages (from flaml) (1.0.2)
Requirement already satisfied: wheel in /usr/local/lib/python3.7/dist-packages (from lightgbm>=2.3.1->flaml) (0.37.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.4->flaml) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.4->flaml) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.1.4->flaml) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.24->flaml) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.24->flaml) (3.1.0)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
path = "/content/drive/Shared drives/Capstone 440/Data/HPTargetDF-2.csv"
path2 = "/content/drive/Shared drives/Capstone 440/Data/Predictors-2.csv"

In [ ]:
HPTargetDF = pd.read_csv(path)
Predictors = pd.read_csv(path2)
HPTargetDF = HPTargetDF.drop(columns = 'Unnamed: 0')
Predictors = Predictors.drop(columns = 'Unnamed: 0')

In [ ]:
HPTargetDF

,n_estimators,max_leaves,min_child_weight,learning_rate,subsample,colsample_bylevel,colsample_bytree,reg_alpha,reg_lambda,Data Name,FLAML_sample_size
0,14,7,0.001000,1.000000,0.111963,0.616864,0.626229,0.002384,0.667275,iris,NaN
1,40,18,35.210578,0.115321,1.000000,0.871438,0.986107,0.000977,0.318187,abalone,NaN
2,28,4,2.002853,1.000000,0.801315,0.829812,0.938486,0.001077,0.303044,mushrooms,NaN
3,18,8,0.038430,1.000000,1.000000,0.963462,1.000000,0.000977,0.022391,drug200,NaN
4,13,6,0.267793,0.303591,1.000000,0.788991,0.814256,0.000977,1.238141,kag_risk_factors_cervical_cancer,NaN
...,...,...,...,...,...,...,...,...,...,...,...
71,434,6,0.170683,0.029988,1.000000,1.000000,1.000000,0.000977,0.084444,SynchronousMachine,NaN
72,159,14,2.168947,0.088548,0.638395,0.711557,1.000000,0.002321,0.000977,company,NaN
73,92,74,0.001154,0.173940,0.565121,0.898595,0.936817,0.000977,0.651345,GoldUP,NaN
74,5,4,65.241184,1.000000,0.848078,1.000000,1.000000,0.002236,0.491326,Cricket_chirps,NaN
75,321,27,128.000000,0.018535,1.000000,0.854061,0.855729,0.002866,2.020651,Engineering_graduate_salary,NaN

In [ ]:
Predictors

,Data Name,Column Row Ratio,File Size,File Type,Uniqueness Score,Accuracy Score (Numerical),Accuracy Score (Categorical),Coverage Score,Conformity Score,Timeliness Score
0,iris,0.033333,3975,.csv,0.993333,0.993333,1.000000,0.000000,0.0,1
1,abalone,0.002155,196156,.csv,1.000000,0.983421,0.855366,0.123688,0.0,1
2,mushrooms,0.002831,374003,.csv,1.000000,0.000000,0.001094,0.725382,0.0,1
3,drug200,0.030000,6029,.csv,1.000000,0.980000,0.296296,0.252544,0.0,1
4,kag_risk_factors_cervical_cancer,0.041958,102059,.csv,0.973193,0.098951,0.002663,0.864533,0.0,1
...,...,...,...,...,...,...,...,...,...,...
71,SynchronousMachine,0.008977,14585,.csv,1.000000,1.000000,0.000000,0.000000,0.0,1
72,company,0.020000,4060,.csv,1.000000,0.997500,0.000000,0.000000,0.0,1
73,GoldUP,0.033473,14166,.csv,1.000000,0.974895,1.000000,0.004149,0.0,1
74,Cricket_chirps,0.001334,10617,.csv,0.087392,0.965310,0.000000,0.145497,0.0,1
75,Engineering_graduate_salary,0.011341,679982,.csv,1.000000,0.769389,0.000023,0.924823,0.0,1

In [ ]:
data_names = Predictors['Data Name']

X = Predictors.drop(columns = ['Data Name', 'File Type'])
y = HPTargetDF.drop(columns = ['Data Name',	'FLAML_sample_size'])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
y_test

,n_estimators,max_leaves,min_child_weight,learning_rate,subsample,colsample_bylevel,colsample_bytree,reg_alpha,reg_lambda
4,13,6,0.267793,0.303591,1.000000,0.788991,0.814256,0.000977,1.238141
35,10,8,0.146204,0.335632,0.865147,0.569362,0.665549,0.000977,0.041729
10,42,7,15.924972,0.129888,1.000000,0.971705,1.000000,0.032542,1.030936
0,14,7,0.001000,1.000000,0.111963,0.616864,0.626229,0.002384,0.667275
45,555,7,8.221738,0.074053,1.000000,0.867214,0.610163,0.127603,0.038950
47,17,10,8.388518,0.197235,1.000000,0.999293,0.779409,0.005881,0.501933
65,38,14,1.561483,0.202937,0.941363,0.929575,1.000000,0.014835,0.011863
53,60,25,0.013137,0.296849,0.808152,0.702290,0.786315,0.224484,0.744776
50,685,285,86.135131,0.055207,0.892809,0.793064,0.726215,0.005712,0.529227
28,55,4,0.234878,0.121643,0.752696,1.000000,1.000000,0.317653,0.297533
67,156,4,0.857458,0.045019,0.780354,0.645993,0.448499,0.005965,0.149389
70,6,10,128.000000,1.000000,0.410730,0.653704,0.340242,0.000977,0.000977
18,32,20,0.001000,1.000000,1.000000,0.856417,0.991595,0.000977,0.002120
12,48,4,32.822132,0.081852,1.000000,0.983154,0.661780,0.002106,3.372557
58,141,9,0.089810,0.089363,0.875625,0.884589,0.794085,0.061695,0.003504
33,67,4,75.787041,0.086738,0.869680,0.722818,1.000000,0.001257,1.181480

In [ ]:
model = Sequential()
model.add(Dense(20, input_dim=8, kernel_initializer='he_uniform', activation='relu'))
model.add(Dense(20, kernel_initializer='he_uniform', activation='relu'))
model.add(Dense(20, kernel_initializer='he_uniform', activation='relu'))
model.add(Dense(20, kernel_initializer='he_uniform', activation='relu'))
model.add(Dense(9))
model.compile(loss='mae', optimizer='adam')


model.fit(X_train, y_train, verbose=0, epochs=100)
pred = model.predict(X_test)

In [ ]:
x = mean_absolute_percentage_error(y_test, pred)
output_df = pd.DataFrame(pred, columns = ['n_estimators',	'max_leaves',	'min_child_weight',	'learning_rate',	'subsample',	'colsample_bylevel',	'colsample_bytree',	'reg_alpha',	'reg_lambda'])

In [ ]:
output_df['n_estimators'] = round(output_df['n_estimators'])
output_df['n_estimators'] = output_df['n_estimators'].apply(lambda x: 1 if (x < 1) else x)

In [ ]:
min_val = min(output_df['max_leaves'])
output_df['max_leaves'] = output_df['max_leaves'].apply(lambda x: round((x - min_val)/10))
output_df['max_leaves'] = output_df['max_leaves'].apply(lambda x: 1 if (x == 0) else x)

In [ ]:
min_val = min(output_df['min_child_weight'])
output_df['min_child_weight'] = output_df['min_child_weight'].apply(lambda x: (round(x - min_val)/20))

In [ ]:
min_val = min(output_df['learning_rate'])
max_val = max(output_df['learning_rate'] - min_val)

output_df['learning_rate'] = output_df['learning_rate'].apply(lambda x: (x - min_val)/max_val)
output_df['learning_rate'] = output_df['learning_rate'].apply(lambda x: 0.01 if (x == 0) else x)

In [ ]:
min_val = min(output_df['subsample'])
max_val = max(output_df['subsample'] - min_val)

output_df['subsample'] = output_df['subsample'].apply(lambda x: (x - min_val)/max_val)
output_df['subsample'] = output_df['subsample'].apply(lambda x: 0.01 if (x == 0) else x)

In [ ]:
min_val = min(output_df['colsample_bylevel'])
max_val = max(output_df['colsample_bylevel'] - min_val)

output_df['colsample_bylevel'] = output_df['colsample_bylevel'].apply(lambda x: (x - min_val)/max_val)
output_df['colsample_bylevel'] = output_df['colsample_bylevel'].apply(lambda x: 0.01 if (x == 0) else x)

In [ ]:
min_val = min(output_df['colsample_bytree'])
max_val = max(output_df['colsample_bytree'] - min_val)

output_df['colsample_bytree'] = output_df['colsample_bytree'].apply(lambda x: (x - min_val)/max_val)
output_df['colsample_bytree'] = output_df['colsample_bytree'].apply(lambda x: 0.01 if (x == 0) else x)

In [ ]:
min_val = min(output_df['reg_alpha'])
max_val = max(output_df['reg_alpha'] - min_val)

output_df['reg_alpha'] = output_df['reg_alpha'].apply(lambda x: (x - min_val)/max_val)
output_df['reg_alpha'] = output_df['reg_alpha'].apply(lambda x: 0.01 if (x == 0) else x)

In [ ]:
min_val = min(output_df['reg_lambda'])
max_val = max(output_df['reg_lambda'] - min_val)

output_df['reg_lambda'] = output_df['reg_lambda'].apply(lambda x: (x - min_val)/max_val)
output_df['reg_lambda'] = output_df['reg_lambda'].apply(lambda x: 0.01 if (x == 0) else x)

In [ ]:
output_df

,n_estimators,max_leaves,min_child_weight,learning_rate,subsample,colsample_bylevel,colsample_bytree,reg_alpha,reg_lambda
0,476.0,103,451.90,0.959231,0.040872,0.959127,0.959029,0.040873,0.959120
1,21.0,107,470.40,0.998396,0.001616,0.998382,0.998334,0.001617,0.998378
2,259.0,105,460.70,0.977774,0.022198,0.977801,0.977868,0.022219,0.977803
3,19.0,107,470.50,0.998439,0.001416,0.998583,0.998711,0.001439,0.998589
4,274.0,105,460.10,0.976700,0.023502,0.976496,0.976448,0.023542,0.976489
5,5138.0,60,261.95,0.556363,0.444007,0.555989,0.555834,0.444015,0.555981
6,2929.0,80,352.05,0.747536,0.252903,0.747104,0.746597,0.252791,0.747089
7,482.0,103,451.45,0.950805,0.040692,0.958754,0.956977,0.041416,0.958266
8,10090.0,14,60.20,0.127643,0.872218,0.127788,0.127724,0.872196,0.127793
9,434.0,103,453.60,0.962938,0.037302,0.962697,0.962607,0.037330,0.962687
10,58.0,107,468.90,0.995296,0.004774,0.995226,0.995244,0.004821,0.995222
11,3.0,107,471.20,1.000000,0.010000,1.000000,1.000000,0.010000,1.000000
12,21.0,107,470.45,0.998539,0.001539,0.998462,0.998404,0.001549,0.998456
13,912.0,99,434.10,0.921511,0.078661,0.921338,0.921281,0.078691,0.921332
14,11568.0,1,0.00,0.010000,1.000000,0.010000,0.010000,1.000000,0.010000
15,5103.0,60,263.40,0.559560,0.440986,0.558995,0.558845,0.440970,0.559000

In [ ]:
y_test

,n_estimators,max_leaves,min_child_weight,learning_rate,subsample,colsample_bylevel,colsample_bytree,reg_alpha,reg_lambda
4,13,6,0.267793,0.303591,1.000000,0.788991,0.814256,0.000977,1.238141
35,10,8,0.146204,0.335632,0.865147,0.569362,0.665549,0.000977,0.041729
10,42,7,15.924972,0.129888,1.000000,0.971705,1.000000,0.032542,1.030936
0,14,7,0.001000,1.000000,0.111963,0.616864,0.626229,0.002384,0.667275
45,555,7,8.221738,0.074053,1.000000,0.867214,0.610163,0.127603,0.038950
47,17,10,8.388518,0.197235,1.000000,0.999293,0.779409,0.005881,0.501933
65,38,14,1.561483,0.202937,0.941363,0.929575,1.000000,0.014835,0.011863
53,60,25,0.013137,0.296849,0.808152,0.702290,0.786315,0.224484,0.744776
50,685,285,86.135131,0.055207,0.892809,0.793064,0.726215,0.005712,0.529227
28,55,4,0.234878,0.121643,0.752696,1.000000,1.000000,0.317653,0.297533
67,156,4,0.857458,0.045019,0.780354,0.645993,0.448499,0.005965,0.149389
70,6,10,128.000000,1.000000,0.410730,0.653704,0.340242,0.000977,0.000977
18,32,20,0.001000,1.000000,1.000000,0.856417,0.991595,0.000977,0.002120
12,48,4,32.822132,0.081852,1.000000,0.983154,0.661780,0.002106,3.372557
58,141,9,0.089810,0.089363,0.875625,0.884589,0.794085,0.061695,0.003504
33,67,4,75.787041,0.086738,0.869680,0.722818,1.000000,0.001257,1.181480

In [ ]:
ind = y_test.index

output_df['new_ind'] = ind

In [ ]:
output_df.set_index('new_ind', inplace = True)

In [ ]:
output_df = output_df.merge(data_names, left_index = True, right_index = True)
output_df

,n_estimators,max_leaves,min_child_weight,learning_rate,subsample,colsample_bylevel,colsample_bytree,reg_alpha,reg_lambda,Data Name
4,476.0,103,451.90,0.959231,0.040872,0.959127,0.959029,0.040873,0.959120,kag_risk_factors_cervical_cancer
35,21.0,107,470.40,0.998396,0.001616,0.998382,0.998334,0.001617,0.998378,post-operative
10,259.0,105,460.70,0.977774,0.022198,0.977801,0.977868,0.022219,0.977803,insurance
0,19.0,107,470.50,0.998439,0.001416,0.998583,0.998711,0.001439,0.998589,iris
45,274.0,105,460.10,0.976700,0.023502,0.976496,0.976448,0.023542,0.976489,Concrete_Data
47,5138.0,60,261.95,0.556363,0.444007,0.555989,0.555834,0.444015,0.555981,communities
65,2929.0,80,352.05,0.747536,0.252903,0.747104,0.746597,0.252791,0.747089,atp1d
53,482.0,103,451.45,0.950805,0.040692,0.958754,0.956977,0.041416,0.958266,bands
50,10090.0,14,60.20,0.127643,0.872218,0.127788,0.127724,0.872196,0.127793,Tetuan City power consumption
28,434.0,103,453.60,0.962938,0.037302,0.962697,0.962607,0.037330,0.962687,student-por
67,58.0,107,468.90,0.995296,0.004774,0.995226,0.995244,0.004821,0.995222,IceCreamData
70,3.0,107,471.20,1.000000,0.010000,1.000000,1.000000,0.010000,1.000000,Pizza-Price
18,21.0,107,470.45,0.998539,0.001539,0.998462,0.998404,0.001549,0.998456,zoo
12,912.0,99,434.10,0.921511,0.078661,0.921338,0.921281,0.078691,0.921332,framingham_heart_disease
58,11568.0,1,0.00,0.010000,1.000000,0.010000,0.010000,1.000000,0.010000,Dry_Bean_Dataset
33,5103.0,60,263.40,0.559560,0.440986,0.558995,0.558845,0.440970,0.559000,sepsis

In [ ]:
y_test = y_test.merge(data_names, left_index = True, right_index = True)
y_test

,n_estimators,max_leaves,min_child_weight,learning_rate,subsample,colsample_bylevel,colsample_bytree,reg_alpha,reg_lambda,Data Name
4,13,6,0.267793,0.303591,1.000000,0.788991,0.814256,0.000977,1.238141,kag_risk_factors_cervical_cancer
35,10,8,0.146204,0.335632,0.865147,0.569362,0.665549,0.000977,0.041729,post-operative
10,42,7,15.924972,0.129888,1.000000,0.971705,1.000000,0.032542,1.030936,insurance
0,14,7,0.001000,1.000000,0.111963,0.616864,0.626229,0.002384,0.667275,iris
45,555,7,8.221738,0.074053,1.000000,0.867214,0.610163,0.127603,0.038950,Concrete_Data
47,17,10,8.388518,0.197235,1.000000,0.999293,0.779409,0.005881,0.501933,communities
65,38,14,1.561483,0.202937,0.941363,0.929575,1.000000,0.014835,0.011863,atp1d
53,60,25,0.013137,0.296849,0.808152,0.702290,0.786315,0.224484,0.744776,bands
50,685,285,86.135131,0.055207,0.892809,0.793064,0.726215,0.005712,0.529227,Tetuan City power consumption
28,55,4,0.234878,0.121643,0.752696,1.000000,1.000000,0.317653,0.297533,student-por
67,156,4,0.857458,0.045019,0.780354,0.645993,0.448499,0.005965,0.149389,IceCreamData
70,6,10,128.000000,1.000000,0.410730,0.653704,0.340242,0.000977,0.000977,Pizza-Price
18,32,20,0.001000,1.000000,1.000000,0.856417,0.991595,0.000977,0.002120,zoo
12,48,4,32.822132,0.081852,1.000000,0.983154,0.661780,0.002106,3.372557,framingham_heart_disease
58,141,9,0.089810,0.089363,0.875625,0.884589,0.794085,0.061695,0.003504,Dry_Bean_Dataset
33,67,4,75.787041,0.086738,0.869680,0.722818,1.000000,0.001257,1.181480,sepsis

In [ ]:
metaDataDictionary = pd.read_csv("/content/drive/Shared drives/Capstone 440/Data/" + "Meta Data3.csv")
output_df = output_df.merge(metaDataDictionary, left_on = 'Data Name', right_on = 'Dataset')
output_df

,n_estimators,max_leaves,min_child_weight,learning_rate,subsample,colsample_bylevel,colsample_bytree,reg_alpha,reg_lambda,Data Name,Date Created,Dataset,Target Variable,Task,link,Checked
0,476.0,103,451.90,0.959231,0.040872,0.959127,0.959029,0.040873,0.959120,kag_risk_factors_cervical_cancer,unknown,kag_risk_factors_cervical_cancer,Dx:Cancer,classification,https://www.kaggle.com/datasets/loveall/cervic...,good
1,21.0,107,470.40,0.998396,0.001616,0.998382,0.998334,0.001617,0.998378,post-operative,1993-06-01,post-operative,Class,classification,NaN,NaN
2,259.0,105,460.70,0.977774,0.022198,0.977801,0.977868,0.022219,0.977803,insurance,unknown,insurance,charges,regression,https://www.kaggle.com/datasets/mirichoi0218/i...,NaN
3,19.0,107,470.50,0.998439,0.001416,0.998583,0.998711,0.001439,0.998589,iris,1988-07-01,iris,variety,classification,NaN,Good
4,274.0,105,460.10,0.976700,0.023502,0.976496,0.976448,0.023542,0.976489,Concrete_Data,NaN,Concrete_Data,target,regression,NaN,NaN
5,5138.0,60,261.95,0.556363,0.444007,0.555989,0.555834,0.444015,0.555981,communities,NaN,communities,target,regression,NaN,NaN
6,2929.0,80,352.05,0.747536,0.252903,0.747104,0.746597,0.252791,0.747089,atp1d,NaN,atp1d,aOTHERavgp4l2,regression,NaN,NaN
7,482.0,103,451.45,0.950805,0.040692,0.958754,0.956977,0.041416,0.958266,bands,NaN,bands,target,classification,NaN,NaN
8,10090.0,14,60.20,0.127643,0.872218,0.127788,0.127724,0.872196,0.127793,Tetuan City power consumption,NaN,Tetuan City power consumption,target,regression,NaN,NaN
9,434.0,103,453.60,0.962938,0.037302,0.962697,0.962607,0.037330,0.962687,student-por,unknown,student-por,G3,regression,NaN,NaN
10,58.0,107,468.90,0.995296,0.004774,0.995226,0.995244,0.004821,0.995222,IceCreamData,NaN,IceCreamData,Revenue,regression,NaN,NaN
11,3.0,107,471.20,1.000000,0.010000,1.000000,1.000000,0.010000,1.000000,Pizza-Price,NaN,Pizza-Price,Price,regression,NaN,NaN
12,21.0,107,470.45,0.998539,0.001539,0.998462,0.998404,0.001549,0.998456,zoo,1990-05-15,zoo,Type,classification,https://archive.ics.uci.edu/ml/datasets/Zoo,NaN
13,912.0,99,434.10,0.921511,0.078661,0.921338,0.921281,0.078691,0.921332,framingham_heart_disease,unknown,framingham_heart_disease,TenYearCHD,regression,https://www.kaggle.com/datasets/naveengowda16/...,NaN
14,11568.0,1,0.00,0.010000,1.000000,0.010000,0.010000,1.000000,0.010000,Dry_Bean_Dataset,NaN,Dry_Bean_Dataset,target,classification,NaN,NaN
15,5103.0,60,263.40,0.559560,0.440986,0.558995,0.558845,0.440970,0.559000,sepsis,NaN,sepsis,hospital_outcome,classification,NaN,NaN

In [ ]:
regression_lst = []
classification_lst = []

In [ ]:
for i in output_df.index:
  class XGBoostCustom(XGBoostSklearnEstimator):
    @classmethod
    def search_space(cls, data_size, **params):
      upper = min(32768, int(data_size[0]))
      return {
          "n_estimators": {
              "domain": fl.tune.lograndint(lower=4, upper=upper),
              "init_value": output_df['n_estimators'][i],
              "low_cost_init_value": 4,
          },
          "max_leaves": {
              "domain": fl.tune.lograndint(lower=4, upper=upper),
              "init_value": output_df['max_leaves'][i],
              "low_cost_init_value": 4,
          },
          "max_depth": {
              "domain": fl.tune.choice([0, 6, 12]),
              "init_value": 0,
          },
          "min_child_weight": {
              "domain": fl.tune.loguniform(lower=0.001, upper=128),
              "init_value": output_df['min_child_weight'][i],
          },
          "learning_rate": {
              "domain": fl.tune.loguniform(lower=1 / 1024, upper=1.0),
              "init_value": output_df['learning_rate'][i],
          },
          "subsample": {
              "domain": fl.tune.uniform(lower=0.1, upper=1.0),
              "init_value": output_df['subsample'][i],
          },
          "colsample_bylevel": {
              "domain": fl.tune.uniform(lower=0.01, upper=1.0),
              "init_value": output_df['colsample_bylevel'][i],
          },
          "colsample_bytree": {
              "domain": fl.tune.uniform(lower=0.01, upper=1.0),
              "init_value": output_df['colsample_bytree'][i],
          },
          "reg_alpha": {
              "domain": fl.tune.loguniform(lower=1 / 1024, upper=1024),
              "init_value": output_df['reg_alpha'][i],
          },
          "reg_lambda": {
              "domain": fl.tune.loguniform(lower=1 / 1024, upper=1024),
              "init_value": output_df['reg_lambda'][i],
          },
      }
  automl = AutoML()
  automl.add_learner('XGBCustom', XGBoostCustom)
  path = "/content/drive/Shared drives/Capstone 440/Data/" + output_df['Data Name'][i] + ".csv"
  data = pd.read_csv(path)
  y = data[output_df['Target Variable'][i]]
  x = data.drop(output_df['Target Variable'][i], axis = 1)
  X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
  
  
  automl.fit(X_train, y_train, task=output_df['Task'][i], estimator_list=["XGBCustom"], verbose = 1)
  ansCustom = automl.predict(X_test)
  automldefault = AutoML()
  automldefault.fit(X_train, y_train, task=output_df['Task'][i], estimator_list=["xgboost"], verbose = 1)
  ansDefault = automldefault.predict(X_test)


  print(i)
  if output_df['Task'][i] == 'regression':
   print('Regression Update')
   regression_lst.append([output_df['Data Name'][i], automldefault.config_history, automl.config_history, mean_squared_error(y_test, ansCustom), mean_squared_error(y_test, ansDefault)])
  else:
   print('Classification Update')
   classification_lst.append([output_df['Data Name'][i], automldefault.config_history, automl.config_history, accuracy_score(y_test, ansCustom), accuracy_score(y_test, ansDefault)])

0
Classification Update
1
Classification Update
2
Regression Update
3
Classification Update
4
Regression Update
5
Regression Update
6
Regression Update
7
Classification Update
8
Regression Update
9
Regression Update
10
Regression Update
11
Regression Update
12
Classification Update
13
Regression Update

/usr/local/lib/python3.7/dist-packages/flaml/tune/space.py:334: RuntimeWarning: divide by zero encountered in log
  config_norm[key] = np.log(value / domain.lower) / np.log(
/usr/local/lib/python3.7/dist-packages/flaml/tune/space.py:334: RuntimeWarning: divide by zero encountered in log
  config_norm[key] = np.log(value / domain.lower) / np.log(

14
Classification Update
15
Classification Update

In [ ]:
regression_time_lst = []
for i in range(len(regression_lst)):
  regression_time_lst.append(regression_lst[i][1][list(regression_lst[i][1].keys())[-1]][2] - regression_lst[i][2][list(regression_lst[i][2].keys())[-1]][2])
regression_time_lst

[-1.5481915473937988,
 -4.089919805526733,
 -9.358896493911743,
 -0.2923581600189209,
 -38.63365602493286,
 16.461596727371216,
 -24.901352167129517,
 18.4662344455719,
 -40.55045247077942]

In [ ]:
classification_time_lst = []
for i in range(len(classification_lst)):
  classification_time_lst.append(classification_lst[i][1][list(classification_lst[i][1].keys())[-1]][2] - classification_lst[i][2][list(classification_lst[i][2].keys())[-1]][2])
classification_time_lst

[26.743057250976562,
 1.3291547298431396,
 48.92281699180603,
 -9.111458539962769,
 41.44222378730774,
 5.009060859680176,
 -31.463124752044678]

In [ ]:
sum(regression_time_lst)/len(regression_time_lst)

-9.382999499638876

In [ ]:
sum(classification_time_lst)/len(classification_time_lst)

11.838818618229457